<!-- <section class="sidebar">
    i am sidebar
</section>
<section class="main-content">
    <router-outlet></router-outlet>
</section> -->

<div class="app-shell" [class.sidebar-collapsed]="isSidebarCollapsed">

    <aside class="sidebar" [class.collapsed]="isSidebarCollapsed">
        <div class="sidebar__logo">
            <span>{{ "lblISESearchEngine" | translate }}</span>
        </div>

        <nav class="sidebar-nav">
            <ul>
                <li routerLinkActive="active">
                    <a routerLink="/image">
                        <i class="pi pi-search"></i>
                        <span class="label">{{ "lblSearchEngine" | translate }}</span>
                    </a>
                </li>

                <li routerLinkActive="active">
                    <a routerLink="/settings">
                        <i class="pi pi-info-circle"></i>
                        <span class="label">{{ "lblUserGuide" | translate }}</span>
                    </a>
                </li>
            </ul>
        </nav>
    </aside>

    <div class="main-area">
        <button pButton icon="pi pi-bars" class="p-button-text sidebar-toggle" (click)="toggleSidebar()">
        </button>

        <main class="content">
            <router-outlet></router-outlet>
        </main>
    </div>

</div>

<div class="invalid-license-card" *ngIf="isLicenseValid">
    <div class="invalid-license-card__overlay"></div>
    <div class="invalid-license-card__content">
        <h3 class="invalid-license-card__heading">{{ "lblInvalidLicenseHeading" | translate }}</h3>
        <p class="invalid-license-card__message">{{ verifyLicenseResponse.message }}</p>

        <div class="invalid-license-card__footer">
            <p class="invalid-license-card__contact">{{ "lblInvalidLicenseMessage" | translate }}</p>

        </div>
    </div>

</div>

<!-- <p-dialog maskStyleClass="backdrop-blur-sm"  styleClass="!border-0 !bg-transparent">
    <ng-template #headless>
        
    </ng-template>
</p-dialog> -->