*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    background-color: $color-gray-50;
    color: $color-gray-400;
}

html,
body {
  height: 100%;
  margin: 0;
  overflow: hidden;
}

.app-shell {
    display: grid;
    grid-template-columns: 26rem 1fr;
    height: 100vh;
    overflow: hidden;
    background-color: $color-gray-50;

    transition: grid-template-columns 0.35s cubic-bezier(0.4, 0, 0.2, 1);

    &.sidebar-collapsed {
        grid-template-columns: 7rem 1fr;
    }
}

.main-area {
    display: flex;
    flex-direction: column;
    background-color: $color-gray-100;
    min-width: 0;
    height: 100vh;
}

.content {
    flex: 1;
    overflow-y: auto;
    padding: 2rem;
    overflow-y: auto;
    background-color: $color-white;
    color:$color-black;


    scrollbar-width: thin; /* Firefox */
  scrollbar-color: rgba($color-gray-600, 0.6) transparent;

  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
    margin: 6px 0;
  }

  &::-webkit-scrollbar-thumb {
    background: linear-gradient(
      180deg,
      rgba($color-gray-600, 0.7),
      rgba($color-gray-700, 0.9)
    );
    border-radius: 8px;
    border: 2px solid transparent;
    background-clip: padding-box;
    transition: background 0.2s ease;
  }

  &::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(
      180deg,
      rgba($color-diamond, 0.8),
      rgba($color-diamond, 0.6)
    );
  }
}