$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;
$color-grey-light-3: #f6f4f486;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;
$color-grey-dark-4: #33333358;

$color-white: #fff;
$color-black: #000;
$color-black-1: #2c2c2c;

$color-green: #10b981;
$color-green-1: #12de9a;

$color-green-50:  #ecfdf5;
$color-green-100: #d1fae5;
$color-green-200: #a7f3d0;
$color-green-300: #6ee7b7;
$color-green-400: #34d399;
$color-green-500: #10b981; // PRIMARY GREEN (used by PrimeNG)
$color-green-600: #059669;
$color-green-700: #047857;
$color-green-800: #065f46;
$color-green-900: #064e3b;
$color-green-950: #022c22;

$color-gray-50:  #f9fafb;
$color-gray-100: #f3f4f6;
$color-gray-200: #e5e7eb;
$color-gray-300: #d1d5db;
$color-gray-400: #9ca3af;
$color-gray-500: #6b7280;
$color-gray-600: #4b5563;
$color-gray-700: #374151;
$color-gray-800: #1f2937;
$color-gray-900: #111827;
$color-gray-950: #030712;



$color-validate:red;

$color-gold:#FFF4CC;
$color-gold-2:#E6B800;
$color-gold-3:#B38F00;

$color-diamond:#F5FAFF;
$color-diamond-2:#3B82F6;
$color-diamond-3:#1E40AF;
$color-diamond-4:#2563EB;

$sidebar-width:30rem;