.p-step-title {
  color: $color-gray-300 !important;
}

.p-step-active .p-step-title {
  color: $color-diamond !important;
  font-weight: 600;
}

.loading-box {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.55);
  z-index: 50;

  .p-progressspinner {
    position: absolute;
    inset: 50%;
    transform: translate(-50%, -50%);
  }
}

.query-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__img-box {
    width: 60%;
    height: 35rem;
    border: 2px dashed $color-gray-700;
    background-color: $color-gray-900;
    border-radius: 1rem;
    margin-bottom: 2rem;
    position: relative;
  }

  &__upload-text {
    color: $color-gray-400;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &__img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    object-fit: cover;
  }

  &__btn,
  &__footer {
    width: 60%;

    & button {
      width: 100%;

    }
  }
}

.folder-form {
  background-color: $color-gray-900;
  border: 1px solid $color-gray-800;
  border-radius: 1rem;
  width: 60%;
  padding: 4rem 2rem;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__lbl {
    font-size: 1.3rem;
    color: $color-gray-300;
    margin-bottom: 0.5rem;
    align-self: flex-start;
  }

  &__txt-box {
    width: 100%;
    background-color: $color-gray-950;
    color: $color-gray-200;
    border: 1px solid $color-gray-700;
    margin-bottom: 2rem;
  }

  &__upload-btn {
    width: 90%;

    & button {
      width: 100%;
    }
  }

  &__footer {
    margin-top: 4rem;
    align-self: flex-end;
  }
}

.search-form {
  // width: 90%;
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;

  &__lbl {
    width: 60%;
    color: $color-gray-300;
    font-size: 1.3rem;
    margin-bottom: 0.4rem;
  }

  &__img-box {
    width: 60%;
    height: 35rem;
    border: 2px dashed $color-gray-700;
    background-color: $color-gray-900;
    border-radius: 1rem;
    margin-bottom: 2rem;
    position: relative;
  }

  &__img {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    object-fit: cover;
  }

  &__txt-box,
  &__search-btn {
    width: 60%;

    & button {
    margin-top: 3rem;

      width: 100%;
    }
  }

  &__select{
    width: 60%;
    margin-bottom: 1rem;
  }

  &__footer {
    // display: inline-block;
    margin-top: 4rem;
    align-self: flex-end;
  }
}

.search-card {
  &__heading {
    color: $color-gray-200;
    font-size: 1.6rem;
    letter-spacing: 0.08em;
    text-transform: uppercase;
  }

  &__img-container {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    margin-top: 2rem;
  }
}

.membership-card-heading {
  margin: 2rem 0rem;
  text-align: center;
}