.invalid-license-card {
    // background-color: $color-gray-800;
    // display: inline-block;
    // position: absolute;
    // top: 0;
    // left: 0;
    // height: 100%;
    // width: 100%;
    // z-index: 9999;
    // opacity: 0.4;
    position: fixed;
    inset: 0;
    z-index: 9999;

    &__overlay {
        position: absolute;
        inset: 0;
        background-color: $color-gray-800;
        opacity: 0.4;
    }

    &__content {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        // color: $color-white;
        // font-size: 1.5rem;
        background-color: $color-white;
        // border: 1px solid $color-gray-600;
        border-radius: 1rem;
        padding: 3rem 2rem;
        z-index: 1;
        box-shadow: 2rem 2rem 4rem rgba(0, 0, 0, 0.5);
    }

    &__heading {
        font-size: 2.8rem;
        font-weight: bold;
        margin-bottom: 1rem;
        color: $color-navy-800;
    }

    &__message {
        font-size: 1.2rem;
        font-weight: 500;
        color: $color-gray-700;
    }

    &__footer {
        margin-top: 2rem;
        background-color: $color-navy-500;
        padding: 1rem 2rem;
        border-radius: 1rem;
    }

    &__contact {
        font-size: 1.5rem;
        font-weight: 500;
        color: $color-white;

    }
}